.wrapper{
    min-height: 100vh;
    background-image: url(../../assets/images/фон.jpg);
    margin: 0;
    .registered{
        button{
            background-color: #008CBA;
            border: none;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            margin-left: 40px;
            margin-top: 10px;
            border-radius: 3px;
            h4{
                color: white;
                margin: 0;
            }
        }
        button:hover{
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }
    }
    li{
        list-style-type: none;
        
    }
    .ul{
        display: flex;
        flex-direction: row;
        justify-content: start;
        width: 1400px;
        flex-wrap: wrap;
        margin-top: 40px;
        margin-left: 40px;
        margin-bottom: 0;

        .cardFooter{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0;
            padding-left: 20px;
            min-height:50px;
            border-bottom: none;
            width: 280px;
            .change{
                background-color: #66A182;
                padding: 3px;
                h4{
                    margin: 5px;
                }
            }
            .delete{
                background-color: 
                #FF6766;
                padding: 3px;
                h4{
                    margin: 5px;
                }
            }
            button{
                display: flex;
                flex-direction: row;
                min-height: 20px;
                justify-content: center;
                align-items: center;
                margin: 0;
                padding: 0;
                outline: none;
                box-shadow: none;
                cursor: pointer;
                h5{
                    margin-right: 5px;
                    font-size: 15px;
                }
            }
        }
        .authorInfo{
            display: flex;
            flex-direction: column;
            margin: 0;
            margin-left: 20px;
            min-height:50px;
            border-bottom: none;
            width: 280px;
            margin-bottom: 20px;
            p{
                color: #6b6b6b;
                font-size: 12px;
                text-align: left;
                padding-bottom: 0;
                margin: 0;
            }
            h4{
                text-align: left;
            }
            .dateValue{
                display: flex;
                flex-direction: row;
                justify-content:flex-start;
                h4{
                    padding-left: 10px;
                    font-size: 12px;
                }
                .reversedDate{
                    display: flex;
                    flex-direction: row-reverse;
                }
            }
        }
        li{
            margin-left: 10px;
            .card{
                width:400px;
                min-height: 400px;
                margin: 0;
                padding: 0;
                margin-left: 10px;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;
                border: 1px solid #d2d2d2;
                background-color: #fff;
                transition: 0.5s linear;
                margin-bottom: 10px;
                img{
                    width: 400px;
                    object-fit: contain;
                }
                .Card_leftside{
                    width: 100%;
                    height: 250px;
                    box-shadow:10px 10px 20px rgba(211, 204, 204, 0.8);
                    transition: 0.3s linear;
                    display: flex;
                    flex-direction: column;
                    padding-top: 40px;
                    padding-left: 20px;
                    .textBody{
                        width: 280px;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow-y: hidden;
                        border-bottom: 1px dotted #898989;
                        h3{
                            font-size: 14px;
                            color: #898989;
                            text-align: justify;
                            width: 260px;
                            padding-left: 15px;
                            margin-bottom: 4px;
                        }
                    }
                }
                .Card_leftside:hover{
                    box-shadow: none;
                }

            }
        }
        .card:hover{
            margin-top: 5px;
            margin-bottom: 5px;
            cursor: pointer;
        }
    }
    .pagination{
            ul{
            margin: 0px 35%;
            padding-top: 20px;
        }
    }
    button{
        background-color: rgb(255, 255, 255);
        border: none;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        margin-left: 40px;
        margin-top: 10px;
        border-radius: 3px;
    }
    button:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    button:disabled{
        background-color: #e7e7e7; 
        color: black;
    }
}

.form{
    width: 400px;
    height: 300px;
    margin: 50px auto;
}

.input{
 margin: 10px 0;
}

.buttonsArea{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    a{
        padding-top: 20px;
        padding-left: 10px;
    }
    div{
        margin-right:10px ;
    }
}

.errors{
    p{
    color: rgb(49, 172, 38);
    }
}