.wrapper{
    h2, h5, span{
        margin-left: 20px;
    }
    .redirect{
        background-color: #008CBA;
        border-radius: 8px;
        padding: 10px;

    }
    .dateValue{
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        h4{
            padding-left: 10px;
        }
        .reversedDate{
            display: flex;
            flex-direction: row-reverse;
        }
    }
    button{
        cursor: pointer;
        background-color: rgb(255, 255, 255);
        border: none;
        outline: none;
        color: white;
        padding: 5px 1px;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        font-size: 18px;
        margin-left: 40px;
        margin-top: 10px;
        border-radius: 50px;
        min-width: 25px;
        min-height: 25px;
        h5{
            padding-left: 3px;
        }
    }
    button:disabled{
        background-color: #e7e7e7; 
        color: black;

    }
    .body{
        display: flex;
        flex-direction: column;
        background-color: #fff;
        margin: 50px 20%;
        padding: 10px;
        img{
            height: 400px;
            object-fit: cover;
        }
        ul{
            display: flex;
            flex-direction: row;
            padding: 0;
            li{
                list-style-type: none;
                padding-left: 10px;
            }
        }
    }
    .article_body{
        margin: 30px 20px;
        padding: 30px 10px;
        border-top: 3px dotted #e5e5e5;
        border-bottom: 3px dotted #e5e5e5;
        box-shadow: inset 0 -1px 0 0 #e5e5e5, inset 0 1px 0 0 #e5e5e5, 0 1px 0 0 #e5e5e5, 0 -1px 0 0 #e5e5e5;
    }
}
