.wrapper{
    .dateValue{
        display: flex;
        flex-direction: row;
        h4{
            padding-left: 10px;
        }
        .reversedDate{
            display: flex;
            flex-direction: row-reverse;
        }
    }
    button{
        background-color: rgb(255, 255, 255);
        border: none;
        outline: none;
        color: white;
        padding: 5px 1px;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        font-size: 12px;
        margin-left: 40px;
        margin-top: 10px;
        border-radius: 50px;
        width: 25px;
        height: 25px;
        h5{
            padding-left: 3px;
        }
    }
    button:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    button:disabled{
        background-color: #e7e7e7; 
        color: black;

    }
    .body{
        display: flex;
        flex-direction: column;
        background-color: #fff;
        margin: 50px 20%;
        padding: 10px;
        img{
            height: 400px;
            object-fit: cover;
        }
        ul{
            display: flex;
            flex-direction: row;
            li{
                list-style-type: none;
                padding-left: 10px;
            }
        }
    }
}


.errors{
    p{
    color: rgb(49, 172, 38);
    }
}