.body{
    display: flex;
    flex-direction: row;
    margin-left: 26%;
}
.ul{
    margin-top: 100px;
    margin-right: 20px;
}
.ticketsArea{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}
.wrapper{
    margin-top: 100px;
    .img{
        padding-left: 90px;
    }
}